
.will-go-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.05em 0.05em 0.2em #696969, -0.05em -0.05em 0.2em #ffffff;
    font-size: 3em;
    font-variant: small-caps;
    font-weight: 600;
    color: #333;
    transform: translateY(-50%);
}

.recursive-box {
    animation: swoop-in .25s linear forwards;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 50px #eaeaea;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    width: 80%;
    height: 80%;

    margin: 0 auto;
    text-align: center;

    /*transform: translateY(-50%);*/
}

@keyframes swoop-in {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(.4);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}